.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
  width: 308px;
  background-color: #3f0e40;
  margin-bottom: -4px;
}

.sidebar_header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 1px solid rgb(82, 38, 83);
  border-bottom: 1px solid rgb(82, 38, 83);
  height: 50px;
}

.sidebar_header__team_name {
  font-size: 18px;
  font-weight: 700;
  /* flex-grow: 1; */
}

.sidebar_header__dropdown {
  /* flex-grow: 1; */
}

.sidebar_menu {
  color: white;
  padding-left: 6px;
  padding-right: 16px;
  margin-top: 6px;
}

.sidebar_header__edit_icon {
  border-radius: 50%;
  background-color: white;
  color: #3f0e40;
  padding: 5px;
  margin-left: 18px;
}

.sidebar_options_icon {
  height: 18px !important;
  width: 18px !important;
}
